<% extend('template/layout') %>
<div class="row">
    <div class="col">
        <h1>Detail of API</h1>

    </div>
</div>
<div class="row">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">URL</th>
                <th scope="col">meaning data</th>
                <th scope="col">sending</th>
                <th scope="col">return</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">/user</th>
                <td>ข้อมูลคนจองคิว</td>
                <td> </td>
                <td>@mdo</td>
            </tr>

        </tbody>
    </table>
</div>