<% extend('template/layout') %>
<div class="row">
    <div class="col-sm">
        ทดสอบ
    </div>
    <div class="col-sm">
        One of three columns
    </div>
    <div class="col-sm">
        One of three columns
    </div>
</div>