<% extend('template/layout') %>

<div class="row">
    <div class="col"></div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">URL</th>
                    <th scope="col">ความหมาย</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>user</td>
                    <td>ผู้ใช้ระบบ</td>
                </tr>
                <tr>
                    <td>symptom</td>
                    <td>อาการของ user จะผูกกับ table user</td>
                </tr>
                <tr>
                    <td>reseration</td>
                    <td>คิวการจองที่เปิด</td>
                </tr>
                <tr>
                    <td>profilepatent</td>
                    <td>โปรฟายของคนไข้หมอที่ (ก็คือ user ที่โดนซักประวัติแล้วห)</td>
                </tr>
                <tr>
                    <td>period</td>
                    <td>ช่วงเวลาที่หมอเปิดคิวให้คนจอง</td>
                </tr>
                <tr>
                    <td>dateclose</td>
                    <td>วันที่หมอปิด</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            
        </div>
    </div>
</div>